.btn {
    margin-top: 15px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #1b2735;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.btn::after {
    margin-top: -15px;
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    left: 0;
    right: 0;
    border-radius: 10px;
}

.btn::before {
    content: '';
    background: linear-gradient(
        45deg,
        #172554, #3730a3, #7c3aed, #818cf8,
        #2563eb, #0ea5e9, #22d3ee, #5eead4
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}