* {
    box-sizing: border-box;
  }

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191C29;
    flex-wrap: wrap;
}