@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none; /* Remover o background daqui */
    overflow: hidden;
    flex-wrap: wrap;
}
